<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mssqlTest">

  <select id="getQuery">
	  SELECT #{test} AS NUMBER
  </select>

  <insert id="insert" >
INSERT INTO [dbo].[HCMS_E2C_EVLM_TRNS_PTCL]		
      (		
      [CUST_NO],
      [TRSC_AMT],
      [ERP_LNK_CTT],
      [ACCT_EPCT_OWAC_NM],
      [CRYP_RCV_ACCT_NO],
      [RCV_INST_DV_NO],
      [CRYP_WDRW_ACCT_NO],
      [CMSV_CD],
      [CMSV_RMTE_NM],
      [CMSV_TRMS_ST_CD],
      [TRNS_DATE],
      [TRMS_ST_CTT],
      [TRNS_TIME],
      [COMM],
      [ERR_CD],
      [ERR_MSG],
      [EVLM_TRNS_SAL_TRNS_DV_CD],
      [CRYP_SMS_TRMS_MBPH_NO],
      [SMS_TRMS_YN],
      [APNX_FILE_NM],
      [REMT_SEQ_NO],
      [RCV_PSBK_MARK_CTT],
      [WDRW_PSBK_MARK_CTT],
      [REG_DT],
      [REG_TM]) values
      <foreach collection="array" item="each" open='(' close=')' separator=",">
${each.values.custrecord_swk_cms_amt},
${each.values.custrecord_swk_cms_rcv_holder}
      </foreach>
      </insert>
</mapper>